# Copyright (c) 2023 Meta Platforms
# SPDX-License-Identifier: Apache-2.0

config ZEPHYR_LIBFOO_MODULE
	bool

menuconfig LIBFOO
	bool "FOO Library Support"
	help
	  This option enables the LIBFOO library.

